/*purple --> turquoise*/
.purple {
  color: var(--main-color);
}

/* --------- */
/* Home section */
/* --------- */
/* .mainSection {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

.homeHeader {
  padding-top: 80px;
}

.homeSection {
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.homeContent {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em;
  padding-left: 50px;
}

.headingName {
  font-size: 2.5em;
  padding-left: 45px;
}

.mainName {
  color: var(--main-color);
}

.myAvtar {
  justify-content: center;
  padding-top: 9em;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.homeAboutSection {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
}

.homeAboutDescription {
  color: black;
  padding-left: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.homeAboutBody {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 1.2em;
  text-align: left;
}

.homeAboutSocial {
  text-align: center;
  padding-top: 25px;
  color: white;
}

.homeAboutSocialLinks {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.homeSocialIcons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: var(--light-secondary-color-rgba);
  border-radius: 50%;
  transition: 0.5s;
}

.homeSocialIcons::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--dark-secondary-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.homeSocialIcons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--dark-secondary-color);
}

.homeSocialIcons:hover {
  color: var(--dark-secondary-color-hover);
  box-shadow: 0 0 5px var(--dark-secondary-color-hover);
  text-shadow: 0 0 2px var(--dark-secondary-color-hover);
}

.socialIcons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.iconColour {
  color: var(--dark-secondary-color);
}
