/******************/
/* CCSS Variables */
/******************/
html {
  --main-color: #08fdd8;
  /*--dark-secondary-color: #293A80;*/
  --dark-secondary-color: #1a989c;
  /*--dark-secondary-color-hover: #4B60B4;*/
  --dark-secondary-color-hover: #11837d;
  --light-secondary-color-rgba: rgba(255, 255, 255, 0.972);
}

/*purple --> turquoise*/
.purple {
  color: var(--main-color);
}

/* --------- */
/* Home section */
/* --------- */
/* .main-section {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

.home-header {
  padding-top: 80px;
}

.home-section {
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.home-content {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em;
  padding-left: 50px;
}

.heading-name {
  font-size: 2.5em;
  padding-left: 45px;
}

.main-name {
  color: var(--main-color);
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: var(--main-color);
  font-weight: 600;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}

.myAvtar {
  justify-content: center;
  padding-top: 9em;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
}

.home-about-description {
  color: black;
  padding-left: 0;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.home-about-body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 1.2em;
  text-align: left;
}

.home-about-social {
  text-align: center;
  padding-top: 25px;
  color: white;
}

.home-about-social-links {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.home-social-icons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: var(--light-secondary-color-rgba);
  border-radius: 50%;
  transition: 0.5s;
}

.home-social-icons::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--dark-secondary-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--dark-secondary-color);
}

.home-social-icons:hover {
  color: var(--dark-secondary-color-hover);
  box-shadow: 0 0 5px var(--dark-secondary-color-hover);
  text-shadow: 0 0 2px var(--dark-secondary-color-hover);
}

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: var(--dark-secondary-color);
}
