.footer {
  /* position: relative;
  background-color: var(--dark-color); */
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}

.footerRow {
  /* position: absolute; */
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footerCopywright {
  text-align: center;
}

.footerBody {
  text-align: center;
}

@media (max-width: 767px) {
  .footerCopywright {
    text-align: center;
  }
  .footerBody {
    text-align: center;
  }
}

.footerIcons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

.socialIcons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
