/******************/
/* CCSS Variables */
/******************/
html {
  --secondary-color: #F0AE2E;
  --secondary-color-hover: #A37417;
  --dark-secondary-color: #293A80;
  --scrollbar-color: rgba(8, 99, 135, 0.73);
  --scrollbar-color-hover: rgba(15, 143, 195, 0.73);
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/* Scrollbar main*/
/* --------- */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
  border-radius: 12px;
}

/**************/
.btn-primary {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color-hover) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color-hover)!important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}


/*************/
/**   App  **/
/************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
