.projectHeading {
  text-align: center;
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 10px;
}

.projectSection {
  position: relative;
  padding: 150px 120px;
  background-image: white;
}

.projectCard {
  padding: 50px;
  height: auto;
}

/* Styles for laptops */
@media (min-width: 1024px) and (max-width: 1420px) {
  .projectSection {
    padding: 150px 45px;
  }
  .projectCard {
    padding: 20px;
  }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .projectSection {
    padding: 150px 30px;
  }
  .projectCard {
    padding: 10px;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .projectSection {
    padding: 150px 35px;
  }
  .projectCard {
    padding: 40px;
  }
}

.projectCardView {
  box-shadow: 0 4px 5px 3px rgba(23, 103, 105, 0.459);
  color: white;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.4s ease 0s;
  height: 100%;
}

.projectCardTitle {
  font-weight: 500;
  font-size: 1.4em;
}

.projectCardView:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(75, 202, 211, 0.561);
}

/* @media (max-width: 767px) {
  .projectCardView {
    height: 100%;
  }
} */

.projectCardImage {
  height: 15rem;
}
@media (max-width: 767px) {
  .projectCardImage {
    height: 10rem;
  }
}

.cardBodyText {
  padding: 1.25rem;
}

@media (max-width: 767px) {
  .cardBodyText {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
